<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dong.study.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AnimationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PropertyDemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RippleAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ripple"/>
        <activity
            android:name=".MDViewAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SceneTransitionAnimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/animation"/>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/animation"/>
        <activity
            android:name=".MyAnimActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>